<div class="center hero-unit">
  <h1>Welcome to the Test Bin!</h1>

  <h2>
    This is a web repository for various tests and general education on Ruby and Ruby on Rails
  </h2>

</div>

<p>Projects currently under construction</p>
Image listing<br>
<%= link_to "Blackjack game", blackjack_path %>
