<footer class="footer">
  <small>
    <a href="#">Test Bin - Home of Ruby Tests</a>
    by JonLz
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>